@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');






body{
    font-family: 'Poppins', sans-serif;
  }











.main-container{
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
}
.main-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
font-family: 'Poppins', sans-serif;
}
.main-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

div1 {
    height: 200px;
    width: 400px;


    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    z-index:10;
    font-family: 'Poppins', sans-serif;
    color: white;
}





}
.category-head{
    margin: 30px 0;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
    background:  #add8e6;    /* #a8a8a8;*/
    padding: 12px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}









 a {
  float: left;
  color: #ffffff;
  text-align: center;
/*  padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

 a:hover {
  background-color: #;
  color: white;
}

a{
  decoration:none;
}



a:link {  background-color: #;
  color: white;
}

a:visited {  background-color: #;
  color: white;
}

a:active {  background-color: #;
  color: white;
}




/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
